# Ambiente virtual
venv/

# Arquivos de mídia (uploads)
media/diversos
media/bebidas
media/pizzas
media/promocoes
# Arquivo de variáveis de ambiente
.env

# Arquivos temporários, cache e logs
__pycache__/
*.py[cod]
*.log

# Banco de dados SQLite local
db.sqlite3

# Arquivos do sistema (macOS, Windows)
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/

# Arquivos estáticos coletados (se usar collectstatic)
staticfiles/

*.env