{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="registro-container">
    <h2>Cadastro de Cliente</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nome.label_tag }}
            {{ form.nome }}
        </div>
        <div class="form-group">
            {{ form.sobrenome.label_tag }}
            {{ form.sobrenome }}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.endereco_entrega.label_tag }}
            {{ form.endereco_entrega }}
        </div>
        <div class="form-group">
            {{ form.numero.label_tag }}
            {{ form.numero }}
        </div>
        <div class="form-group">
            {{ form.senha.label_tag }}
            {{ form.senha }}
        </div>
        <button type="submit" class="submit-btn">Cadastrar</button>
    </form>
</main>

{% endblock %}