{% extends 'base.html' %}
{% load static %}
  
{% block content %}

<div id="carouselPromo" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for promo in promocoes %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <!-- Toda a imagem clicável -->
        <a href="{% url 'promocao_detalhe' promo.slug %}">
          <img src="{{ promo.imagem.url }}" class="d-block w-100" alt="{{ promo.titulo }}">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ promo.titulo }}</h5>
          <p>{{ promo.descricao }}</p>
          <a href="{% url 'promocao_detalhe' promo.slug %}" class="btn btn-success">Ver Promoção</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPromo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


{% endblock %}
    

