{% extends 'base.html' %}
{% load static %}

{% block carrossel %}
<div id="carouselPromo" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for promo in promocoes %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <a href="{% url 'pedido_promocao' promo.slug %}">
          <img src="{{ promo.imagem.url }}" class="d-block w-100" alt="{{ promo.titulo }}">
        </a>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPromo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
{% endblock %}
