{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="mapa-container">
        <div class="mapa-aviso">ATENDIMENTO APENAS PARA RETIRADA!</div>
        
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.3781593318636!2d-45.12679761953268!3d-22.751343226158394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ccc8cd79f63f59%3A0x752cd16e69c72895!2sR.%20Rio%20Grande%20do%20Norte%2C%20261%20-%20Cidade%20Industrial%2C%20Lorena%20-%20SP%2C%2012609-240!5e0!3m2!1spt-BR!2sbr!4v1752768755111!5m2!1spt-BR!2sbr"
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
  
    
{% endblock %}
