{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Localização - Capizzas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'base' %}">
                <img src="{% static 'img/capizzas.png' %}" alt="Capizzas">
            </a>
        </div>
        <nav>
            <a href="{% url 'cardapio' %}">Cardápio</a>
            <a href="#">Promoções</a>
            <a href="{% url 'localizacao' %}">Localização</a>
            <a href="{% url 'sobre' %}">Sobre</a>
            <a href="#">Faça seu pedido</a>
            <a href="{% url 'carrinho' %}" style="color: white; text-decoration: none; position: relative;">
    🛒 Carrinho (<span id="contador-carrinho">0</span>)
</a>
        </nav>
    </header>

    <div class="mapa-container">
        <div class="mapa-aviso">ATENDIMENTO APENAS PARA RETIRADA!</div>
        
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.3781578989983!2d-45.124501624784955!3d-22.751343279364836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ccc8cd79f63f59%3A0x8cc3dc5691e13d3a!2sR.%20Rio%20Grande%20do%20Norte%2C%20261%20-%20casa%206%20-%20Cidade%20Industrial%2C%20Lorena%20-%20SP%2C%2012609-240!5e0!3m2!1spt-BR!2sbr!4v1750085580112!5m2!1spt-BR!2sbr" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

    <footer>
        <div class="social-icons">
            <img src="{% static 'img/tiktok.png' %}" alt="TikTok">
            <img src="{% static 'img/facebook.png' %}" alt="Facebook">
            <img src="{% static 'img/instagram.png' %}" alt="Instagram">
        </div>
        <div class="last-update">
            Última atualização: Junho de 2025
        </div>
    </footer>
</body>
</html>
