{% extends 'base.html' %}
{% load static %}
{% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capizzas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'base' %}">
                <img src="{% static 'img/capizzas.png' %}" alt="Capizzas">
            </a>
        </div>
        <nav>
            <a href="{% url 'cardapio' %}">Cardápio</a>
            <a href="#">Promoções</a>
            <a href="{% url 'localizacao' %}">Localização</a>
            <a href="{% url 'sobre' %}">Sobre</a>
            <a href="{% url 'cadastropizza' %}">Faça seu pedido</a>
            <a href="{% url 'carrinho' %}" style="color: white; text-decoration: none; position: relative;">
                🛒 Carrinho (<span id="contador-carrinho">0</span>)
            </a>
            <a href="{% url 'login' %}" class="login-btn">Login</a>
        </nav>
    </header>
    {% endblock %}
{% block content %} 
<main class="login-container">
  <h2>Login do Cliente</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="error-message">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" name="email" required>
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" name="senha" required>
    </div>
    <button type="submit" class="submit-btn">Entrar</button>
  </form>
   <p>Não tem uma conta? <a href="{% url 'cadastrocliente' %}">Cadastre-se aqui</a></p>
</main>
{% endblock %}